@model ControleDeTrabalhosAcademicos.Models.Trabalho

<h2>Editar Trabalho</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Titulo"></label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tipo"></label>
        <select asp-for="Tipo" class="form-control" asp-items="Html.GetEnumSelectList<TipoTrabalho>()"></select>
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<div>
    <a asp-action="Index">Voltar à Lista</a>
</div>
